<div class="container">
  <h3> <%= @question %></h3>
  <p> -You</p>
</div>

<div class="container yellow">
  <h3> <%= @answer %></h3>
  <p> -Your Coach</p>
</div>

<%= link_to "Ask a new quetion", ask_path %>
